In [2]:
pwd

'/Users/halimkhayat/Python_learn'

In [3]:
%%writefile myfile.txt
Hello World
This is my text
This is my practice sheet

Overwriting myfile.txt

In [4]:
myfile = open('myfile.txt')

In [5]:
myfile.read()

'Hello World\nThis is my text\nThis is my practice sheet\n'

In [6]:
myfile.read()

''

In [7]:
myfile.seek(0)

0

In [8]:
myfile.read()

'Hello World\nThis is my text\nThis is my practice sheet\n'

In [9]:
myfile.seek(0)

0

In [10]:
myfile.readlines()

['Hello World\n', 'This is my text\n', 'This is my practice sheet\n']

In [11]:
pwd

'/Users/halimkhayat/Python_learn'

In [12]:
myfile.close()

In [13]:
with open('myfile.txt') as my_new_file:
    content = my_new_file.read()

In [14]:
content

'Hello World\nThis is my text\nThis is my practice sheet\n'

In [15]:
%%writefile my_new_file.txt
Nama saya Abdul Halim
saya hensem
saya bijak dan kaya

Overwriting my_new_file.txt

In [16]:
open('my_new_file.txt')

In [17]:
2 == 2

True

In [18]:
2 != 4

True

In [19]:
3 <= 7

True

In [20]:
4 > 5

False

In [21]:
7 <= 1

False

In [22]:
0 != 34

True

In [23]:
13 == 13 and 26 == 26

True

In [24]:
'g' == 'g' and 9 != 0

True

In [25]:
32 < 43 and 45 > 66

False

In [26]:
not 'i' == 'p'

True

In [27]:
nama = 'Naim'

if nama == 'Halim':
    print("hi halim")
elif nama == 'abu':
    print("hi abu")
elif nama == 'john':
    print("hi john")
else:
    print("siapa nama awak?")

siapa nama awak?

In [28]:
hello = [9,8,7,6,5,4,3,2,1]

for num in hello:
    print(num)

9
8
7
6
5
4
3
2
1

In [29]:
good = [11,12,13,14,15,16,17,18,19,20]

for num in good:
    #can divide by 2 
    if num % 2 == 0:
        print(num)
    else:
        print(f'no ganjil: {num}')

no ganjil: 11
12
no ganjil: 13
14
no ganjil: 15
16
no ganjil: 17
18
no ganjil: 19
20

In [30]:
list_sum = 1

for num in good:
    list_sum = list_sum + num

    print(list_sum)

12
24
37
51
66
82
99
117
136
156

In [31]:
snr = [(1,3),(5,9),(11,13)]

for i,r in snr:
    print(r)

3
9
13

In [32]:
dhn = {'o':1,'j':2,'k':3}

for h,n in dhn.items():
    print(n)

1
2
3

In [33]:
x = 1

while x < 6:
    print(f'value of x is {x}')
    x = x + 1
else:
    print("x is not less than 6")

value of x is 1
value of x is 2
value of x is 3
value of x is 4
value of x is 5
x is not less than 6

In [34]:
x = 3

while x < 30:
    print(x)
    x += 1
else:
    print('habis dah')

3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
habis dah

In [35]:
listini = [1,2,3,4,5]

for num in listini:
    if num == 4:
        break
    print(num)

1
2
3

In [36]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [37]:
for num in range(3,20,3):
    print(num)

3
6
9
12
15
18

In [38]:
thelist = [x for x in range(0,20)]

In [39]:
thelist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [40]:
clist = [w for w in range(0,21) if w%3==0]

In [41]:
clist

[0, 3, 6, 9, 12, 15, 18]

In [42]:
tg = 'belajar python tak susah, python adalah p dan juga pp'

In [43]:
for w in tg.split():
    if w[0]=='p':
        print(w)

python
python
p
pp

In [44]:
jhk = [12,13,14,15,16,17,18,19,20]

In [45]:
for no in jhk:
    if no %3==0:
        print(no)
    else:
        print('yg lain tak boleh bahagi dgn tiga')

12
yg lain tak boleh bahagi dgn tiga
yg lain tak boleh bahagi dgn tiga
15
yg lain tak boleh bahagi dgn tiga
yg lain tak boleh bahagi dgn tiga
18
yg lain tak boleh bahagi dgn tiga
yg lain tak boleh bahagi dgn tiga

In [46]:
for num in range(0,30,2):
    print(num)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28

In [47]:
[j for j in range(0,61) if j%4==0]

[0, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60]

In [48]:
list(range(0,91,3))

[0,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90]

In [49]:
power ='nama saya aisyah syifaa, saya budak comel dan baik'

In [50]:
for w in power.split():
    if len(w) %3== 0:
        print(w)

aisyah
dan

In [51]:
[w[2] for w in power.split()]

['m', 'y', 's', 'i', 'y', 'd', 'm', 'n', 'i']

In [52]:
list(range(0,20,5))

[0, 5, 10, 15]

In [53]:
for no in range(1,101):
    if no%3 == 0:
        print('ya lah')
    elif no%7 == 0:
        print('apa2 lah')

ya lah
ya lah
apa2 lah
ya lah
ya lah
apa2 lah
ya lah
ya lah
ya lah
ya lah
ya lah
apa2 lah
ya lah
ya lah
apa2 lah
ya lah
ya lah
ya lah
ya lah
ya lah
apa2 lah
ya lah
ya lah
apa2 lah
ya lah
ya lah
ya lah
ya lah
ya lah
apa2 lah
ya lah
ya lah
apa2 lah
ya lah
ya lah
ya lah
ya lah
ya lah
apa2 lah
ya lah
ya lah
apa2 lah
ya lah

In [54]:
thelist = [9,8,7,6,5,4,3,2,1]

In [55]:
thelist.append(0)

In [56]:
thelist

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [57]:
thelist.pop()

0

In [58]:
help(thelist.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

In [59]:
thelist.append(0)

In [60]:
thelist

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [61]:
for x in thelist:
    print(x)

9
8
7
6
5
4
3
2
1
0

In [62]:
for x in thelist:
    if x %3 == 0:
        print(x)

9
6
3
0

In [63]:
def salam_alaik(nama):
    print(f'salam {nama}')

In [64]:
salam_alaik('halim')

salam halim

In [65]:
def add_no(no1,no2):
    return no1+no2

In [66]:
kol = add_no(34,67)

In [67]:
kol

101

In [77]:
def nombor_ganjil(noganjil1):
    for x in noganjil1:
        if x % 2 == 0:
            return True
        else:
            pass

In [78]:
nombor_ganjil([1,2,2,3,4,5,6,7,8,8])

True

In [70]:
def even_checklist(numara):
    # Cuba try yg ni
    even_numara = []
    
    for v in numara:
        if v %2 == 0:
            even_numara.append(v)
            
        else:
            pass
    return even_numara

In [71]:
even_checklist([1,2,3,4,5,6,7,8])

[2, 4, 6, 8]

In [72]:
even_checklist([1,3,5,7,9])

[]

In [1]:
work_hours = [('Ali', 300),('Muthu',500),('Ah Hock',700),('Cassandra',200),('Bilal',1000)]

In [2]:
work_hours

[('Ali', 300),
 ('Muthu', 500),
 ('Ah Hock', 700),
 ('Cassandra', 200),
 ('Bilal', 1000)]

In [3]:
def employee_check(work_hours):
    
    most_hours = 0
    employee_of_month = ''
    
    for employee,hours in work_hours:
        if hours > most_hours:
            most_hours = hours
            employee_of_month = employee
    else:
        pass
    
    return(employee_of_month,hours)

In [4]:
employee_check(work_hours)

('Bilal', 1000)

In [1]:
contoh =[1,2,3,4,5,6,7,8,9]

In [4]:
from random import shuffle

In [21]:
def shuffle_list(mylist):
    shuffle(mylist)
    return mylist

In [22]:
shuffle_list(contoh)

[1, 4, 8, 7, 6, 5, 3, 9, 2]

In [23]:
huruf = ['a','b','c','d','e']

In [25]:
shuffle_list(huruf)

['b', 'e', 'd', 'c', 'a']

In [26]:
def teka_nombor():
    
    teka = ''
    
    while teka not in ['0','1','2','3']:
        teka = input("Pilih nombor: 0,1,2 atau 3")
        
    return int(teka)

In [27]:
teka_nombor()

Pilih nombor: 0,1,2 atau 34
Pilih nombor: 0,1,2 atau 35
Pilih nombor: 0,1,2 atau 32

2

In [28]:
def check_teka(mylist,teka):
    if mylist[teka] == 'b':
        print("Correct!")
    else:
        print("Wrong Answer!")
        print(mylist)

In [30]:
#initial list
mylist = ['','b','','']

#Shuffle list
mixedup_list = shuffle_list(mylist)

#user guess
teka = teka_nombor

#check guess
check_teka(mixedup_list,teka)

TypeError: list indices must be integers or slices, not function